<p class="p00"><u>Welcome with Instagram</u></p>

<body class="accountInfo">
<p><b>Welcome!</b></p>
<p>Username: <b>{{user.name}}</b></p>
<p>Instagram ID: <b>{{user.ig_id}}</b></p>
</body>

<p class="p01"><u>Based On Followers</u></p>
<p class="p02"><a class="visButton" href="/c3visualization">View C3 Visualization</a></p>
<p class="p02"><a class="visButton" href="/visualization">View D3 Visualization</a></p>

</br>
<p class="p01"><u>Based On Your Profile</u></p>
<p class="p02"><a class="visButton" href="/c3visualizationPart2">View C3 Visualization</a></p>
<p class="p02"><a class="visButton" href="/visualizationPart2">View D3 Visualization</a></p>
