<p>ID: {{user.id}}</p>
<p>Name: {{user.name}}</p>
<p>Instagram ID:{{user.ig_id}}</p>

<p><a class="visButton" href="/c3visualization">View C3 Visualization</a></p>
<br/>
<p><a class="visButton" href="/visualization">View D3 Visualization</a></p>


