<p>Welcome with Instagram</p>
<p>Username: {{user.name}}</p>
<p>Name: {{user.displayName}}</p>
<p>Instagram ID:{{user.ig_id}}</p>

<p><a class="visButton" href="/c3visualization">View C3 Visualization</a></p>
<p><a class="visButton" href="/visualization">View D3 Visualization</a></p>

</br>

<p><a class="visButton" href="/c3visualizationPart2">View C3 Visualization - Part 2</a></p>
<p><a class="visButton" href="/visualizationPart2">View D3 Visualization - Part 2</a></p>
