<a href="/logout"><button class="visButton" style="float: left;">Log Out</button></a> <br>
<p class="p00"><u>Welcome to Instagram</u></p>

<body class="accountInfo">
<p><b>Welcome!</b></p>
<p>Username: <b>{{user.name}}</b></p>
<p>Instagram ID: <b>{{user.ig_id}}</b></p>
</body>

<p class="p01"><u>Number of Followers vs Media Count</u></p>
<p class="p02"><a class="visButton" href="/c3visualization">View C3 Visualization</a></p>
<p class="p01"><u>Total Media Uploads of Users</u></p>
<p class="p02"><a class="visButton" href="/visualization">View D3 Visualization</a></p>
<p class="p01"><u>Amount of People Each User Follows</u></p>
<p class="p02"><a class="visButton" href="/visualizationPart2">View D3 Visualization</a></p>
