<p>ID: {{user.id}}</p>
<p>Name: {{user.name}}</p>
<p>Instagram ID:{{user.ig_id}}</p>

<a class="Button" href="/c3visualization">View C3 Visualization</a>
<br/>
<a class="Button" href="/visualization">View D3 Visualization</a>


