<a href="/account"><button class="visButton" style="float: left;">Back</button></a> <br>
<h1 class="header0"> How Many People Each Person Follows </h1>
<div id="chart"></div>

<body class="jsGraph">

<script src="js/c3visualization.js"></script>

</body>