<p class="p00"><u>Cognitive Science 121</u></p>
<p class="p01">Human and Computer Interaction Programming</p>
<p class="p01">Spring 2015</p>
<p class="p01">Assignment 2</p>
<p class="p01">Eric Cheng & Alvin Yan</p>

<p class="p02"><a class="visButton" href="/auth/instagram">Login with Instagram</a></p>

<!-- Twitter Button Commented Out
<p class="p02"><a class="visButton" href="/auth/twitter">Login with Twitter</a></p>
-->