<p>ID: {{twitterData.id}}</p>
<p>Name: {{screen_name}}</p>
<p>Twitter ID:{{twitterData.screen_name}}</p>

<p><a class="visButton" href="/c3visualizationTwitter">View C3 Visualization</a></p>
<p><a class="visButton" href="/visualizationTwitter">View D3 Visualization</a></p>