<p>Welcome to Twitter</p>
<p>Username: {{name}}</p>
<p>Name: {{screen_name}}</p>
<p>Twitter ID:{{_id}}</p>

<p><a class="visButton" href="/c3visualizationTwitter">View C3 Visualization</a></p>
<p><a class="visButton" href="/visualizationTwitter">View D3 Visualization</a></p>
<p><a class="visButton" href="/TwitterTest">Followers Testing</a></p>