<p>Welcome with Twitter</p>
<p>Username: {{user.displayName}}</p>
<p>Name: {{user.username}}</p>
<p>Twitter ID:{{req.user.tw_id}}</p>

<p><a class="visButton" href="/c3visualizationTwitter">View C3 Visualization</a></p>
<p><a class="visButton" href="/visualizationTwitter">View D3 Visualization</a></p>
<p><a class="visButton" href="/TwitterTest">Followers Testing</a></p>