<h1> Media Count of Your Instagram Followers </h1>

<div id="chart"></div>

<body>

<button class="visButton" onclick="sortData()">Sort</button>

<script src="js/visualization.js"></script>

</body>

