<h1> Media Count of Your Instagram Followers </h1>

<button class="visButton" onclick="sortAscending()">Sort (Ascending)</button>
<button class="visButton" onclick="sortDescending()">Sort (Descending)</button>

<div id="chart"></div>

<body>

<script src="js/visualization.js"></script>

</body>
