<h1> Followers Count of the People You Follow </h1>


<div id="chart"></div>

<body>

<button class="visButton" onclick="sortData()">Sort</button>

<script src="js/visualizationPart2.js"></script>

</body>
