<h1> Followers Count of the People You Follow </h1>

<button class="visButton" onclick="sortAscending()">Sort (Ascending)</button>
<button class="visButton" onclick="sortDescending()">Sort (Descending)</button>

<div id="chart"></div>

<body>

<script src="js/visualizationPart2.js"></script>

</body>
